<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
{% if books != [] %}
<h1>My Library</h1>
    <ul>
        {% for book in books %}
        <li>
            <a href="{{ url_for('delete', id=book.id) }}">🗑️</a>
            {{ book.title }} - {{ book.author }} - {{ book.rating }}/10
            <a href="{{url_for('edit', id=book.id)}}">Rating change</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>Library is empty.</p>
{% endif %}
    
<a href="{{url_for('add')}}">Add New Book</a>
</body>
</html>